<div class="supply-table" ng-controller="DRCtrl as dr">
	<div>
		<h3>List of All Delivery Receipts</h3>
	</div>
	<table st-table="dr.itemsToDisplay" st-safe-src="dr.drs" class="table table-striped">
		<thead>
			<tr class="table-control">
				<th class="col-sm-3" colspan="2">
					<p class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-search"></i>
						</span>
						<input placeholder="Global search" st-search class="form-control" type="text"/>
					</p>
				</th>
				<th class="col-sm-6" colspan="3">
					<div st-pagination="" st-items-by-page="dr.itemsPerPage" st-displayed-pages="3"></div>
				</th>
				<th class="col-sm-1">
					<p class="input-group">
						<span class="input-group-addon">
							<i class="glyphicon glyphicon-th-list"></i>
						</span>
						<input placeholder="10" ng-model="dr.itemsPerPage" class="form-control" type="number" min="1"/>
					</p>
				</th>
			</tr>
			<tr class="table-header">
				<th st-sort="fund_cluster_name">Fund Cluster</th>
				<th st-sort="id">Delivery Receipt Number</th>
				<th st-sort="total_quantity">Total Quantity</th>
				<th st-sort="total_price">Total Amount</th>
				<th st-sort="date_added">Date Added</th>
				<th style="width: 10%">Action</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in dr.itemsToDisplay">
				<td>{{item.fund_cluster_name}}</td>
				<td>{{item.id}}</td>
				<td align="right">{{item.total_quantity}}</td>
				<td align="right">{{item.total_amount | currency:"Php "}}</td>
				<td>{{item.date_added | date:'yyyy-MM-dd'}}</td>
				<td>
					<a class="btn btn-primary btn-circle btn-lg" href="/#/dr/view/{{item.id}}/items">
						<span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
					</a>
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="7" class="text-center">
				</td>
			</tr>
		</tfoot>
	</table>
</div>
